<h1>Listing unvotes</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Person</th>
  </tr>

<% @unvotes.each do |unvote| %>
  <tr>
    <td><%=h unvote.question_id %></td>
    <td><%=h unvote.person_id %></td>
    <td><%= link_to 'Show', unvote %></td>
    <td><%= link_to 'Edit', edit_unvote_path(unvote) %></td>
    <td><%= link_to 'Destroy', unvote, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New unvote', new_unvote_path %>